body {
    background: rgb(2,0,34);
    background: linear-gradient(270deg, rgba(2,0,34,1) 0%, rgba(216,32,41,1) 43%, rgba(206,208,206,1) 100%);
}

#cam {
    width: 45%;
    height: 27%;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 3%;
}

#startbutton {
    width: 40%;
    height: 50px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(49, 49, 54);
    color: white;
    font: 200;
    border: 2px solid black; 
    position: absolute;
    top: 20px;
    right: 20px;
}

#stopbutton {
    width: 40%;
    height: 50px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(49, 49, 54);
    color: white;
    font: 200;
    border: 2px solid black; 
    position: absolute;
    top: 80px;
    right: 20px;
}

#resultarea {
    width: 95%;
    height: 40%;
    background-color: blanchedalmond;
    border: 2px solid crimson;
    position: absolute;
    font-size: 600;
    right: 20px;
    left: 20px;
    bottom: 5%;
}

#snap {
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    width: 25%;
    top: 150px;
    right: 80px;
}